---
const today = new Date();

const ownerGuideLinks = [
	{ title: 'Oil & Gas 101', href: '/owners-guide/oil-and-gas-basics-for-mineral-owners' },
	{ title: 'Leased & Producing', href: '/owners-guide/leased-and-producing' },
	{ title: 'Unleased Mineral Owner', href: '/owners-guide/unleased-mineral-owner' },
	{ title: 'Leased But Not Producing', href: '/owners-guide/leased-but-not-producing' },
	{ title: 'Lease Proposals', href: '/owners-guide/lease-proposals' },
	{ title: 'Opportunities', href: '/owners-guide/opportunities-for-all' },
	{ title: 'Prefer Cash Payment', href: '/offer' },
];

const resourcesLinks = [
	{ title: 'Mineral Rights by State', href: '/resources/mineral-rights-by-state' },
	{ title: 'Shale Plays', href: '/resources/shale-plays' },
	{ title: 'Oil & Gas Operators', href: '/resources/oil-and-gas-operators' },
	{ title: 'Oil & Gas Terms', href: '/resources/oil-and-gas-terms' },
	{ title: 'Oil & Gas Abbreviations', href: '/resources/oil-and-gas-abbreviations' },
];

const companyLinks = [
	{ title: 'About', href: '/about' },
	{ title: 'Contact', href: '/contact-us' },
	{ title: 'Advertising', href: '/advertising' },
	{ title: 'Privacy Policy', href: '/privacy-policy' },
	{ title: 'Terms & Conditions', href: '/terms-and-conditions' },
];

const socialLinks = [
	{ name: 'Facebook', href: 'https://www.facebook.com/100065558110317', icon: 'facebook' },
	{ name: 'X', href: 'https://x.com/mineralwise', icon: 'x' },
	{ name: 'LinkedIn', href: 'https://linkedin.com/company/mineralwise', icon: 'linkedin' },
];
---

<footer class="footer">
	<div class="footer-inner">
		<!-- Logo + Social + Newsletter row -->
		<div class="footer-top">
			<div class="footer-top-left">
				<a href="/" aria-label="MineralWise Home" class="footer-logo">
					<img
						src="/images/mineralWise-logo.webp"
						alt="MineralWise"
						class="footer-logo-img"
					/>
				</a>
			</div>
			<div class="footer-newsletter">
				<!-- Zoho Campaigns Web-Optin Form -->
				<script is:inline src="https://kedi-zgpl.maillist-manage.com/js/optin.min.js" onload="setupSF('sf3z94d79d3045d462344e62bd8f808271128e78e3ab4b11f9189004c85961022398','ZCFORMVIEW',false,'light',false,'0')"></script>
				<script is:inline>
					function runOnFormSubmit_sf3z94d79d3045d462344e62bd8f808271128e78e3ab4b11f9189004c85961022398(th){
						/* Redirect to thank you page after successful signup - configure in Zoho Campaigns form settings */
					}
				</script>
				<style is:global>.quick_form_9_css * { -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important; overflow-wrap: break-word }@media only screen and (max-width: 600px) {.quick_form_9_css[name="SIGNUP_BODY"] { width: 100% !important; min-width: 100% !important; margin: 0px auto !important; padding: 0px !important } .SIGNUP_FLD { width: 90% !important; margin: 10px 5% !important; padding: 0px !important } .SIGNUP_FLD input { margin: 0 !important; border-radius: 25px !important } }</style>
				<div id="sf3z94d79d3045d462344e62bd8f808271128e78e3ab4b11f9189004c85961022398" data-type="signupform" style="opacity: 1;">
					<div id="customForm">
						<div class="quick_form_9_css" style="background-color: rgb(10, 10, 10); width: 375px; z-index: 2; font-family: Arial; border-width: 1px; border-style: solid; border-color: rgb(235, 235, 235); overflow: hidden" {...{ name: 'SIGNUP_BODY' }}>
							<div>
								<div style="font-size: 14px; font-family: Verdana; font-weight: bold; color: rgb(255, 255, 255); text-align: left; padding: 10px 15px 5px; width: 325px; display: block" id="SIGNUP_HEADING">Subscribe to our Mineral Owner Tips</div>
								<div style="position:relative;">
									<div id="Zc_SignupSuccess" style="display:none;position:absolute;margin-left:4%;width:90%;background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154);  margin-top: 10px;margin-bottom:10px;word-break:break-all">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tbody>
												<tr>
													<td style="width: 10%">
														<img class="successicon" src="https://kedi-zgpl.maillist-manage.com/images/challangeiconenable.jpg" style="vertical-align: middle" alt="">
													</td>
													<td>
														<span id="signupSuccessMsg" style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px;word-break:break-word">&nbsp;&nbsp;Thank you for Signing Up</span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<form method="POST" id="zcampaignOptinForm" style="margin: 0px; width: 100%; padding: 0px 15px" action="https://kedi-zgpl.maillist-manage.com/weboptin.zc" target="_zcSignup">
									<div style="background-color: rgb(255, 235, 232); padding: 10px; color: rgb(210, 0, 0); font-size: 11px; margin: 20px 10px 0px; border: 1px solid rgb(255, 217, 211); opacity: 1; display: none" id="errorMsgDiv">Please correct the marked field(s) below.</div>
									<div style="position: relative; margin: 10px 0px 15px; width: 230px; height: 30px; display: inline-block" class="SIGNUP_FLD">
										<input type="email" style="font-size: 14px; border: 1px solid rgb(235, 235, 235); border-radius: 0; width: 100%; height: 100%; z-index: 4; outline: none; padding: 5px 10px; color: rgb(136, 136, 136); text-align: left; font-family: Arial; background-color: rgb(255, 255, 255); box-sizing: border-box" placeholder="Email Address" {...{ changeitem: 'SIGNUP_FORM_FIELD' }} name="CONTACT_EMAIL" id="EMBED_FORM_EMAIL_LABEL">
									</div>
									<div style="position: relative; height: 30px; text-align: left; display: inline-block; margin: 0px 0px 10px; width: 100px" class="SIGNUP_FLD">
										<input type="button" style="text-align: center; width: 100%; height: 100%; z-index: 5; border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); cursor: pointer; outline: none; font-size: 14px; background-color: rgb(10, 10, 10); margin: 0px 0px 0px -5px; border-radius: 0px 3px 3px 0px" name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin" value="Join Now">
									</div>
									<input type="hidden" id="fieldBorder" value="">
									<input type="hidden" id="submitType" name="submitType" value="optinCustomView">
									<input type="hidden" id="emailReportId" name="emailReportId" value="">
									<input type="hidden" id="formType" name="formType" value="QuickForm">
									<input type="hidden" name="zx" id="cmpZuid" value="124970b9">
									<input type="hidden" name="zcvers" value="3.0">
									<input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
									<input type="hidden" id="mode" name="mode" value="OptinCreateView">
									<input type="hidden" id="zcld" name="zcld" value="1677187a4c42f931">
									<input type="hidden" id="zctd" name="zctd" value="">
									<input type="hidden" id="document_domain" value="">
									<input type="hidden" id="zc_Url" value="kedi-zgpl.maillist-manage.com">
									<input type="hidden" id="new_optin_response_in" value="0">
									<input type="hidden" id="duplicate_optin_response_in" value="0">
									<input type="hidden" name="zc_trackCode" id="zc_trackCode" value="MineralWise-Subscribe-Newsletter">
									<input type="hidden" id="zc_formIx" name="zc_formIx" value="3z94d79d3045d462344e62bd8f808271128e78e3ab4b11f9189004c85961022398">
									<input type="hidden" id="viewFrom" value="URL_ACTION">
									<span style="display: none" id="dt_CONTACT_EMAIL">1,true,6,Contact Email,2</span>
								</form>
							</div>
						</div>
					</div>
					<img src="https://kedi-zgpl.maillist-manage.com/images/spacer.gif" id="refImage" onload="referenceSetter(this)" style="display:none;" alt="">
				</div>
				<input type="hidden" id="signupFormType" value="QuickForm_Horizontal">
				<div id="zcOptinOverLay" oncontextmenu="return false" style="display:none;text-align: center; background-color: rgb(0, 0, 0); opacity: 0.5; z-index: 100; position: fixed; width: 100%; top: 0px; left: 0px; height: 988px;"></div>
				<div id="zcOptinSuccessPopup" style="display:none;z-index: 9999;width: 800px; height: 40%;top: 84px;position: fixed; left: 26%;background-color: #FFFFFF;border-color: #E6E6E6; border-style: solid; border-width: 1px;  box-shadow: 0 1px 10px #424242;padding: 35px;">
					<span style="position: absolute;top: -16px;right:-14px;z-index:99999;cursor: pointer;" id="closeSuccess">
						<img src="https://kedi-zgpl.maillist-manage.com/images/videoclose.png" alt="Close">
					</span>
					<div id="zcOptinSuccessPanel"></div>
				</div>
			</div>
		</div>

		<!-- Menu columns -->
		<div class="footer-nav">
			<div class="footer-col">
				<h3 class="footer-col-title">Owner's Guide</h3>
				<ul>
					{ownerGuideLinks.map((link) => (
						<li>
							<a href={link.href}>{link.title}</a>
						</li>
					))}
				</ul>
			</div>
			<div class="footer-col">
				<h3 class="footer-col-title">Resources</h3>
				<ul>
					{resourcesLinks.map((link) => (
						<li>
							<a href={link.href}>{link.title}</a>
						</li>
					))}
				</ul>
			</div>
			<div class="footer-col footer-col-social">
				<h3 class="footer-col-title">Company</h3>
				<ul>
					{companyLinks.map((link) => (
						<li>
							<a href={link.href}>{link.title}</a>
						</li>
					))}
				</ul>
				<nav class="footer-social" aria-label="Social media">
					{socialLinks.map((social) => (
						<a
							href={social.href}
							target="_blank"
							rel="noopener noreferrer"
							aria-label={social.name}
							class="footer-social-link"
						>
							{social.icon === 'facebook' && (
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
									<path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
								</svg>
							)}
							{social.icon === 'x' && (
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
									<path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
								</svg>
							)}
							{social.icon === 'linkedin' && (
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
									<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
								</svg>
							)}
						</a>
					))}
				</nav>
			</div>
		</div>

		<!-- Forum CTA -->
		<div class="footer-forum">
			<p>
				Discuss oil & gas mineral issues with other landowners at the{' '}
				<a href="https://mineralrightsforum.com" target="_blank" rel="noopener noreferrer">Mineral Rights Forum</a>.
			</p>
		</div>

		<!-- Copyright -->
		<div class="footer-bottom">
			<p>&copy; {today.getFullYear()} MineralWise. All rights reserved.</p>
		</div>
	</div>
</footer>

<style>
	.footer {
		background: #0a0a0a;
		color: #e5e5e5;
		margin-top: 4rem;
	}

	.footer-inner {
		max-width: 1200px;
		margin: 0 auto;
		padding: 1.5rem 1.5rem 1.25rem;
	}

	.footer-top {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	}

	.footer-top-left {
		display: flex;
		flex-direction: column;
	}

	.footer-logo {
		display: block;
	}

	.footer-social {
		display: flex;
		gap: 0.75rem;
	}

	.footer-social-link {
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgba(255, 255, 255, 0.7);
		transition: color 0.2s;
	}

	.footer-social-link:hover {
		color: #fff;
	}

	.footer-logo-img {
		height: 48px;
		width: auto;
		filter: brightness(0) invert(1);
		opacity: 0.95;
	}

	.footer-newsletter {
		flex: 1;
		min-width: 260px;
		max-width: 400px;
	}

	.footer-nav {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
		padding: 1rem 0;
	}

	.footer-col-title {
		font-size: 0.9rem;
		font-weight: 700;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 0.5rem;
	}

	.footer-col ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.footer-col li {
		margin-bottom: 0.125rem;
		line-height: 1.4;
	}

	.footer-col a {
		color: #e5e5e5;
		text-decoration: none;
		font-size: 0.9rem;
		transition: color 0.2s;
	}

	.footer-col a:hover {
		color: #fff;
	}

	.footer-col-social {
		display: flex;
		flex-direction: column;
	}

	.footer-col-social .footer-social {
		margin-top: auto;
		padding-top: 1rem;
	}

	.footer-forum {
		padding: 0.75rem 0;
		border-top: 1px solid rgba(255, 255, 255, 0.12);
		text-align: center;
	}

	.footer-forum p {
		font-size: 0.9rem;
		opacity: 0.9;
		margin: 0;
	}

	.footer-forum a {
		color: #fff;
		text-decoration: underline;
		text-underline-offset: 2px;
	}

	.footer-forum a:hover {
		opacity: 0.9;
	}

	.footer-bottom {
		padding-top: 0.75rem;
		border-top: 1px solid rgba(255, 255, 255, 0.12);
		text-align: center;
	}

	.footer-bottom p {
		font-size: 0.8rem;
		opacity: 0.7;
		margin: 0;
	}

	@media (max-width: 768px) {
		.footer-top {
			flex-direction: column;
			align-items: stretch;
		}

		.footer-newsletter {
			max-width: none;
		}

		.footer-nav {
			grid-template-columns: 1fr;
			gap: 1rem;
		}
	}
</style>
